<div class="home-page full-container">
  <div class="mt-4 d-flex align-items-center">
    <span class="font-size-14 c-grey">Cesta</span>
  </div>

  <div class="form-products mt-4">
    <form [formGroup]="nameForm">
      <mat-form-field class="custom-form-field w-100" appearance="fill">
        <mat-label>Nome completo</mat-label>
        <input matInput type="text" class="border-none" formControlName="name">
      </mat-form-field>

    </form>
  </div>

  <ng-container *ngIf="cart">
    <div class="products-list">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef class="w-15">Quantidade</th>
          <td mat-cell *matCellDef="let element">

            <div class="d-flex align-items-center bg-blue-color quantity-column">
              <img (click)="productService.changeQuantity(element, 'remove')" src="../../assets/icons/dash-cart.svg"
                alt="dash-cart">
              <input disabled class="bg-blue-color text-center border-none" [(ngModel)]="element.qtd" type="tel">
              <img (click)="productService.changeQuantity(element, 'add')" src="../../assets/icons/plus-cart.svg"
                alt="plus-cart">
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="w-50">Produto</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="w-50">Descrição</th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="w-10">Preço</th>
          <td mat-cell *matCellDef="let element"> {{ countItems(element.price, element.qtd) | currency: 'BRL'}} </td>
        </ng-container>

        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef class="w-15"></th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <button mat-button class="remove-product-button w-10" (click)="productService.removeProduct(element)"><img
                src="../../../assets/icons/remove.svg" alt="remover-produto"></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of cart"></mat-paginator>

      <div class="d-flex flex-column align-items-end mt-4">
        <div>
          <span class="font-size-16 mr-2">Total: </span>
          <span class="font-size-16 font-weight-bold">{{countTotal() | currency: 'BRL'}}</span>
        </div>
        <button mat-flat-button class="close-cart-button font-weight-bold text-uppercase bg-primary-color mt-3"
          (click)="closeCart()">Finalizar compra</button>
      </div>
    </div>


  </ng-container>

  <div *ngIf="!cart" class="mt-4">
    <p class="font-size-24">Não há produtos na cesta =(</p>
    <a class="underline-link" routerLink="/home">Ir às compras!</a>
  </div>
</div>
