.side-menu {
  height: calc(100vh - 62px);
  width: 200px;
  .active {
    color: red;
  }
}
.login-content {
  width: 70%;
  margin: 0 auto 20px;
}
.side-content {
  margin-left: 20px;
  width: calc(100vw - 220px);

}
.h-100vh {
  height: 100vh;
}
