<nav class="navbar justify-content-start navbar-dark page-navbar bg-primary-color">
  <img src="../assets/icons/shop-window.svg" alt="">
  <span class="navbar-brand mb-0 h1 ml-3 font-size-24">s-shop</span>
</nav>

<div class="d-flex">
  <div class="bg-secondary-color h-100vh">
    <div [ngClass]="getClass() == 'd-none' ? 'd-none' : 'd-flex'"
      class="side-menu flex-column justify-content-between">

      <nav class="nav flex-column">
        <ng-container *ngFor="let menu of menuList">
          <a class="nav-link text-center text-uppercase font-size-16 pt-4 pb-4" [routerLink]="menu.route"
            [ngClass]="getClass(menu.route)">{{menu.title}}</a>
        </ng-container>
      </nav>

      <div class="d-flex align-items-center login-content">
        <img src="../assets/icons/person.svg" alt="">
        <span *ngIf="!isLogged" class="font-size-11 ml-2">É admin? Faça seu <a class="underline-link"
            routerLink="admin/login">login</a>.</span>
        <span *ngIf="isLogged" class="font-size-11 ml-4"><a class="underline-link" (click)="logout()">Sair</a>.</span>
      </div>
    </div>
  </div>
  <div class="side-content d-flex align-items-center flex-column">
    <router-outlet></router-outlet>
  </div>
</div>
