@import "../../../assets/style/variables.scss";

.login-card {
  width: 100vw;
  mat-card {
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 842px;
    height: 496px;
    margin: 40px auto 10px;
    padding: 50px 110px;
    .login-form {
      width: 80%;
      margin: 0 auto;
      margin: 60px auto 30px;
      .login-form-field {
        height: 70px;
        font-size: 14px;
        ::ng-deep &.mat-form-field-invalid {
          .mat-form-field-ripple {
            background-color: $red-color !important;
          }
        }
        ::ng-deep {
          .mat-form-field-ripple {
            background-color: $primary-color;
          }
          .mat-form-field-underline:before {
            background-color: $secondary-color;
          }
        }
      }
      .submit-button {
        width: 100%;
        ::ng-deep {
          .mat-button-wrapper {
            color: white;
          }
        }
      }
    }
  }
}
