.form-products {
  .custom-form-field {
    ::ng-deep {
      .mat-form-field-prefix {
        bottom: 4px;
      }
      .mat-form-field-flex {
        height: 40px;
        .mat-form-field-infix {
          bottom: 4px;
        }
      }
    }
  }
  .add-product-button {
    position: relative;
    bottom: 13px;
  }
}
