/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '/src/assets/style/variables.scss';

* {
  font-family: 'Montserrat', sans-serif;
  color: $black-color;
}
a, a:hover {
  color: inherit;
}
a.underline-link {
  text-decoration: underline;
}

.bg-primary-color {
  background-color: $primary-color;
}
.bg-secondary-color {
  background-color: $secondary-color;
}
.bg-blue-color {
  background-color: $blue-light;
}
.bg-danger-color {
  background-color: $danger-color;
}
.bg-warning-color {
  background-color: $warning-color;
}

.c-white {
  color: white;
}
.c-grey {
  color: $grey-color;
}

.full-container {
  width: calc(90vw - 220px);
}
.full-screen {
  width: calc(100% + 220px)
}

.w-25 {
  width: 25%;
}
.w-10 {
  width: 10%;
}
.w-50 {
  width: 50%;
}
.w-15 {
  width: 15%;
}

.p-r-3rem {
  padding-right: 3rem;
}

.font-size-11 {
  font-size: 11px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-21 {
  font-size: 21px;
}
.font-size-24 {
  font-size: 24px;
}

.border-none {
  border: none;
}

.custom-form-field {
  height: 70px;
  font-size: 14px;
  ::ng-deep &.mat-form-field-invalid {
    .mat-form-field-ripple {
      background-color: $red-color !important;
    }
  }
  ::ng-deep {
    .mat-form-field-ripple {
      background-color: $primary-color;
    }
    .mat-form-field-underline:before {
      background-color: $secondary-color;
    }
  }
}


.products-list {
  width: 100%;
  table {
    width: 100%;
    margin-bottom: 20px;

    .quantity-column {
      padding: 3px;
      border-radius: 2px;
      width: 80px;
      input {
        width: 100%;
      }
    }
  }
}
